#subscribtion{
    padding: 0 75px;
    padding-top: 90px;
    padding-bottom: 60px;
}
h2{
    font-weight: bold;
    font-size: 36px;
}
i{
    color: #A1A1A1;
    font-size: 15px;
}
input{
    color: #AAAAAA;
    font-size: 14.5px;
    font-style: italic;
    padding: 10px 15px;
    font-weight: 500;
    width: 40%;
}
li{
    list-style: none;
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 30px;
}
span{
    color: #AAAAAA;
    font-weight: 500;
    font-size: 14px;
}