<nav class="navbar navbar-expand-lg">
    <div id="navDiv" class="container-fluid d-flex align-items-center justify-content-between">
      <div style="cursor: pointer;">
        <img src="assets/images/logo.png" alt="">
      </div>
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li routerLinkActive="activeRoute" class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/first_sec">Home</a>
                </li>
                <li routerLinkActive="activeRoute" class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/men_sec"> Men's</a>
                </li>
                <li routerLinkActive="activeRoute" class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/routePath">Women's</a>
                </li>
                <li routerLinkActive="activeRoute" class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/routePath">Kids</a>
                </li>
                <li routerLinkActive="activeRoute" class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/routePath">Pages</a>
                </li>
                <li routerLinkActive="activeRoute" class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/routePath">Features</a>
                </li>
                <li routerLinkActive="activeRoute" class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/routePath">Explore</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </nav>