<div id="social">
    <h2>Social Media</h2>
    <i>
        Details to details is what makes Hexashop different from the other themes.
    </i>
    <div style="margin-top: 60px !important;" class="d-flex my-5">
        <img src="assets/images/instagram-01.jpg" alt="">
        <img src="assets/images/instagram-02.jpg" alt="">
        <img src="assets/images/instagram-03.jpg" alt="">
        <img src="assets/images/instagram-04.jpg" alt="">
        <img src="assets/images/instagram-05.jpg" alt="">
        <img src="assets/images/instagram-06.jpg" alt="">
    </div>
</div>