<div id="parent" class="d-flex align-items-center gap-4 w-100">
    <div class="w-50">
        <img class="w-100" src="assets/images/left-banner-image.jpg" alt="">
    </div>
    <div class="w-25 d-flex flex-column gap-4">
        <img class="w-100" src="assets/images/baner-right-image-01.jpg" alt="">
        <img class="w-100" src="assets/images/baner-right-image-03.jpg" alt="">
    </div>
    <div class="w-25 d-flex flex-column gap-4">
        <img class="w-100" src="assets/images/baner-right-image-02.jpg" alt="">
        <img class="w-100" src="assets/images/baner-right-image-04.jpg" alt="">
    </div>
</div>